<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetTask_2.Properties.Settings.Programming_TechnologiesConnectionString"
            connectionString="Data Source=PC-AURANE;Initial Catalog=Programming_Technologies;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>